{% extends "/html/base.html" %}
{% block content %}
<div id="post">
    {% include "/html/post-content.html" %}
    {% if disqus? %}
    <div id="comments">
        <a href="{{post.uri}}#disqus_thread">View Comments</a>
    </div>
    {% endif %}

    <div id="prev-next">
        {% if post.prev %}
        <a href="{{post.prev.uri}}">&laquo; {{post.prev.title}}</a>
        {% endif %}
        {% if post.next %}
        <a class="right" href="{{post.next.uri}}">{{post.next.title}} &raquo;</a>
        {% endif %}
    </div>

    <div id="prev-next">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if post.prev %}
            <a class="pagination-previous" href="{{post.prev.uri}}">Previous</a>
            {% endif %}
            {% if post.next %}
            <a class="pagination-next right" href="{{post.next.uri}}"> Next page</a>
            {% endif %}
        </nav>
    </div>

</div>
{% endblock %}
